[Desktop Entry]
Name=Software Sources
Name[am]=የሶፍትዌር ምንጮች
Name[ar]=مصادر البرامج
Name[be]=Крыніцы праграм
Name[bg]=Софтуерни източници
Name[bn]=সফটওয়্যারের উৎসসমূহ
Name[bs]=Izvori softvera
Name[ca]=Orígens de programari
Name[ca@valencia]=Orígens de programari
Name[cs]=Zdroje softwaru
Name[cy]=Ffynonellau Meddalwedd
Name[da]=Programkilder
Name[de]=Anwendungspaketquellen
Name[el]=Πηγές Λογισμικού
Name[eo]=Programaraj fontoj
Name[es]=Fuentes de software
Name[et]=Tarkvaraallikad
Name[eu]=Software-jatorriak
Name[fa]=منابع برنامه ها
Name[fi]=Ohjelmistolähteet
Name[fr]=Sources de logiciels
Name[fr_CA]=Sources de logiciels
Name[fy]=Softwareboarnen
Name[ga]=Foinsí Bogearraí
Name[gd]=Tùsan bathair-bhog
Name[gl]=Orixes do software
Name[he]=מקורות תוכנה
Name[hi]=सॉफ्टवेयर स्रोत
Name[hr]=Repozitoriji softvera
Name[hu]=Szoftverforrások
Name[ia]=Fontes de software
Name[id]=Sumber Perangkat Lunak
Name[is]=Hugbúnaðarupptök
Name[it]=Origini Software
Name[ja]=ソフトウェアソース
Name[kab]=Iɣbula n iseɣẓanen
Name[kk]=БҚ қайнар көздері
Name[km]=ប្រភព​កម្មវិធី
Name[ko]=소프트웨어 소스
Name[ku]=Çavkaniyên Bernameyan
Name[ky]=Программа булактары
Name[lt]=Programinės įrangos saugyklos
Name[lv]=Programmatūras avoti
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ സ്രോതസ്സുകള്‍
Name[mr]=सॉफ्टवेयर स्रोत
Name[ms]=Sumber Perisian
Name[nb]=Programvarekilder
Name[nds]=Paketquellen
Name[ne]=सफ्टवेयर स्रोतहरु
Name[nl]=Pakketbronnen
Name[oc]=Fonts de mesa a jorn
Name[om]=Madda mosajjii
Name[pa]=ਸਾਫਟਵੇਅਰ ਸਰੋਤ
Name[pap]=Fuentenan di programma
Name[pl]=Zasoby oprogramowania
Name[pt]=Repositórios
Name[pt_BR]=Fontes de Aplicativos
Name[ro]=Surse software
Name[ru]=Источники приложений
Name[sc]=Mitzas de su software
Name[si]=මෘදුකාංග මූලාශ්‍රයන්
Name[sk]=Zdroje softvéru
Name[sl]=Programski viri
Name[sq]=Burimet e programeve
Name[sr]=Извори програма
Name[sr@latin]=Извори програма
Name[sv]=Programkällor
Name[ta]=மென்பொருள் மூலங்கள்
Name[tg]=Манбаъҳои нармафзор
Name[th]=แหล่งที่มาของซอฟต์แวร์
Name[tr]=Yazılım Kaynakları
Name[uk]=Джерела програмного забезпечення
Name[uz]=Дастур манбалари
Name[vi]=Nguồn Phần mềm
Name[zh_CN]=软件源
Name[zh_HK]=軟件來源
Name[zh_TW]=軟體來源
Comment=Configure the sources for installable software and updates
Comment[am]=ምንጮችን ማዋቀር ለሚገጠሙ ሶፍትዌር እና ማሻሻያዎች
Comment[ar]=تكوين مصادر البرامج والتحديثات القابلة للتثبيت
Comment[be]=Наставіць крыніцы праграм і абнаўленняў
Comment[bg]=Настройка на източниците за инсталиране и актуализиране на софтуер
Comment[bn]=ইনস্টলযোগ্য সফটওয়্যার ও আপডেটের জন্য উৎস কনফিগার করুন
Comment[bs]=Podesite izvore za programe koje je moguće instalirati i ažurirati
Comment[ca]=Configureu els orígens per al programari instal·lable i actualitzacions
Comment[ca@valencia]=Configureu els orígens per al programari instal·lable i actualitzacions
Comment[cs]=Nastavit zdroje pro instalaci software a aktualizací
Comment[cy]=Ffurfweddu y ffynonellau ar gyfer meddalwedd gosodadwy a diweddariadau
Comment[da]=Konfigurér kilderne for installérbare programmer og opdateringer
Comment[de]=Quellen zum Installieren von Anwendungen und Aktualisierungen einrichten
Comment[el]=Ρύθμιση των πηγών για λογισμικό προς εγκατάσταση και ενημερώσεις
Comment[eo]=Agordi la fontojn de instaleblaj programaro kaj ĝisdatigoj
Comment[es]=Configurar las fuentes de los programas instalables y las actualizaciones
Comment[et]=Paigaldatava tarkvara ja uuenduste allikate seadistamine
Comment[eu]=Konfiguratu software eta eguneraketa instalagarrien jatorriak
Comment[fa]=پیکر بندی کردن منابع برای برنامه ها و به روز رسانی های قابل نصب
Comment[fi]=Muokkaa asennettavien ohjelmien ja päivitysten lähteitä
Comment[fr]=Configurer les sources des logiciels installables et des mises à jour
Comment[fr_CA]=Configurer les sources des logiciels installables et des mises à jour
Comment[ga]=Cumraigh na foinsí chun teacht ar bhogearraí gur féidir suiteáil is nuashonrú
Comment[gd]=Rèitich na tùsan airson bathar-bog agus ùrachaidhean a ghabhas a stàladh
Comment[gl]=Configure as orixes para os programas e as actualizacións que se poden instalar
Comment[he]=הגדרת מקורות תוכנה להתקנות ולעדכונים
Comment[hi]=इंस्टॉल योग्य सॉफ़्टवेयर व अपडेट हेतु स्रोत विन्यस्त करें
Comment[hr]=Postavite izvore za instalaciju i nadopunu softvera
Comment[hu]=Telepíthető szoftverek és frissítések forrásának beállítása
Comment[ia]=Configurar le fontes pro le software e le ajornamentos installabile
Comment[id]=Mengatur sumber pemasangan perangkat lunak dan pemutakhiran
Comment[is]=Stilla upptök fyrir uppsetjanlegan hugbúnað og uppfærslur
Comment[it]=Configura le origini per il software installabile e per gli aggiornamenti
Comment[ja]=インストール可能なソフトウェアおよびアップデートの配布元を設定します
Comment[kab]=Swel iɣbula n iseɣẓanen akked ileqman yettwasebdaden
Comment[kk]=Орнатылатын және жаңартылатын бағдарламалар үшін, бағдарламалар қайнар көздерін қалыпқа келтіру
Comment[ko]=설치가능한 소프트웨어와 업데이트를 위한 소스를 설정합니다
Comment[ku]=Ji bo nivîsbarî û rojanekirinên têne sazkirin çavkaniyan veava bike
Comment[lt]=Nustatykite programinės įrangos diegimo ir atnaujinimo saugyklas
Comment[lv]=Konfigurē jaunu programmu un atjauninājumu avotus
Comment[mr]=सॉफ्टवेयर व सुधारणा (अपडेट्स) करिता स्रोत ठरवा
Comment[ms]=Konfigur sumber untuk perisian boleh pasang dan kemaskininya
Comment[nb]=Sett opp kildene for installerbar programvare og oppdateringer
Comment[nds]=Installationsquellen für Pakete und Updates bearbeiten
Comment[nl]=Stel de bronnen in voor installeerbare programmatuur en actualiseringen
Comment[oc]=Configurar las fonts d'installacion de logicials e de mesas a jorn
Comment[pa]=ਇੰਸਟਾਲ ਯੋਗ ਸਾਫਟਵੇਅਰ ਅਤੇ ਅੱਪਡੇਟ ਲਈ ਸਰੋਤਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pap]=Konfigura e fuentenan pa software ku por instala i updates
Comment[pl]=Konfiguruje zasoby pakietów oprogramowania i aktualizacji
Comment[pt]=Configurar repositórios de aplicações e atualizações
Comment[pt_BR]=Configura as fontes de instalação e atualização de aplicativos
Comment[ro]=Configurați sursele pentru software instalabil şi actualizări
Comment[ru]=Настроить источники установки и обновления программ
Comment[sk]=Nastaviť zdroje pre inštalovateľný softvér a aktualizácie
Comment[sl]=Nastavite vire za namestljivo programsko opremo in posodobitve
Comment[sq]=Konfiguro burimet për programet e instalueshme dhe përditësimet
Comment[sr]=Подесите изворе за програме и надоградње
Comment[sr@latin]=Подесите изворе за програме и надоградње
Comment[sv]=Konfigurera källorna för installerbara program och uppdateringar
Comment[ta]=நிறுவத்தக்க மென்பொருட்கள் மற்றும் புதுப்பித்தல்களுக்கான மூலங்களைக் கட்டமைக்கவும்
Comment[tg]=Танзим кардани манбаҳо барои нармафзор ва навсозиҳои насбшаванда
Comment[th]=ปรับแต่งแหล่งของซอฟต์แวร์ที่ใช้ในการติดตั้งและปรับปรุงรุ่น
Comment[tr]=Kurulabilir yazılım ve güncellemeler için kaynakları yapılandır
Comment[uk]=Налаштуйте джерела встановлення та оновлення програмного забезпечення.
Comment[uz]=Тизимга ўрнатса ва янгиласа бўладиган дастур манбаларини созлаш
Comment[vi]=Cấu hình các nguồn cài đặt phần mềm và cập nhật
Comment[zh_CN]=配置用于安装和升级软件的源
Comment[zh_HK]=設定可安裝軟件與更新的來源組態
Comment[zh_TW]=設定可安裝軟體與更新的來源組態
Exec=pkexec mintsources
Icon=mintsources
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;System;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;XFCE;X-XFCE-SettingsDialog;X-XFCE-SystemSettings;
X-GNOME-Settings-Panel=software-properties
MimeType=text/x-apt-sources-list;
