[Desktop Entry]
Name=Software Sources
Comment=Configure the sources for installable software and updates
Exec=software-sources
Icon=/usr/share/icons/hicolor/scalable/apps/software-sources.svg
Terminal=false
X-MultipleArgs=false
Type=Application
Categories=GNOME;GTK;Settings;X-GNOME-SystemSettings;X-GNOME-Settings-Panel;
X-GNOME-Settings-Panel=software-properties
MimeType=text/x-apt-sources-list;
X-KDE-SubstituteUID=true
X-Ubuntu-Gettext-Domain=software-properties
