[Desktop Entry]
Name=Software Sources
Name[am]=የሶፍትዌር ምንጮች
Name[ar]=مصادر البرمجيات
Name[be]=Крыніцы праграм
Name[bg]=Софтуерни източници
Name[bn]=সফটওয়্যারের উৎসসমূহ
Name[bs]=Izvori softvera
Name[ca]=Fonts del programari
Name[ca@valencia]=Fonts del programari
Name[cs]=Zdroje softwaru
Name[cy]=Ffynonellau Meddalwedd
Name[da]=Programkilder
Name[de]=Anwendungspaketquellen
Name[el]=Πηγές Λογισμικού
Name[eo]=Programaraj fontoj
Name[es]=Orígenes del software
Name[et]=Tarkvaraallikad
Name[eu]=Software-jatorriak
Name[fa]=منابع برنامه ها
Name[fi]=Ohjelmalähteet
Name[fr]=Sources de logiciels
Name[fr_CA]=Sources de logiciels
Name[fy]=Softwareboarnen
Name[ga]=Foinsí Bogearraí
Name[gd]=Tùsan bathair-bhog
Name[gl]=Orixes do software
Name[he]=מקורות תוכנה
Name[hr]=Softver repozitoriji
Name[hu]=Szoftverforrások
Name[id]=Sumber Perangkat Lunak
Name[is]=Hugbúnaðarupptök
Name[it]=Sorgenti software
Name[ja]=ソフトウェアソース
Name[km]=ប្រភព​កម្មវិធី
Name[ko]=소프트웨어소스
Name[ku]=Çavkaniyên Bernameyan
Name[ky]=Программа булактары
Name[lt]=Programinės įrangos saugyklos
Name[lv]=Programmatūras avoti
Name[ml]=സോഫ്റ്റ്‌വെയര്‍ സ്രോതസ്സുകള്‍
Name[mr]=सॉफ्टवेयर स्रोत
Name[ms]=Sumber Perisian
Name[nb]=Programvarekilder
Name[nds]=Paketquellen
Name[ne]=सफ्टवेयर स्रोतहरु
Name[nl]=Softwarebronnen
Name[oc]=Fonts de mesa a jorn
Name[om]=Madda mosajjii
Name[pa]=ਸਾਫਟਵੇਅਰ ਸਰੋਤ
Name[pl]=Zasoby oprogramowania
Name[pt]=Repositórios
Name[pt_BR]=Fontes de Aplicativos
Name[pt_PT]=Repositórios
Name[ro]=Surse software
Name[ru]=Источники приложений
Name[si]=මෘදුකාංග මූලාශ්‍රයන්
Name[sk]=Zdroje softvéru
Name[sl]=Programski viri
Name[sq]=Burimet e programeve
Name[sr]=Извори програма
Name[sr@latin]=Извори програма
Name[sv]=Programkällor
Name[ta]=மென்பொருள் மூலங்கள்
Name[tg]=Манбаъҳои нармафзор
Name[th]=แหล่งที่มาของซอฟต์แวร์
Name[tr]=Yazılım Kaynakları
Name[uk]=Джерела проґрамного забезпечення
Name[uz]=Дастур манбалари
Name[vi]=Nguồn Phần mềm
Name[zh_CN]=软件源
Name[zh_HK]=軟件來源
Name[zh_TW]=軟體來源
Comment=Configure the sources for installable software and updates
Comment[am]=ምንጮችን ማዋቀር ለሚገጠሙ ሶፍትዌር እና ማሻሻያዎች
Comment[ar]=إعداد المصادر للبرمجيات والتحديثات القابلة للتثبيت
Comment[be]=Наставіць крыніцы праграм і абнаўленняў
Comment[bg]=Настройка на източниците за инсталиране и актуализиране на софтуер
Comment[bn]=ইনস্টলযোগ্য সফটওয়্যার ও আপডেটের জন্য উৎস কনফিগার করুন
Comment[bs]=Podesite izvore za programe koje je moguće instalirati i ažurirati
Comment[ca]=Configura les fonts per a les actualitzacions i el programari instal·lables
Comment[ca@valencia]=Configura les fonts per a les actualitzacions i el programari instal·lables
Comment[cs]=Nastavit zdroje pro instalovatelný software a aktualizace
Comment[cy]=Ffurfweddu y ffynonellau ar gyfer meddalwedd gosodadwy a diweddariadau
Comment[da]=Konfigurér kilderne for installérbare programmer og opdateringer
Comment[de]=Quellen zum Installieren von Anwendungen und Aktualisierungen einrichten
Comment[el]=Ρύθμιση των πηγών για λογισμικό προς εγκατάσταση και ενημερώσεις
Comment[eo]=Agordi la fontojn de instaleblaj programaro kaj ĝisdatigoj
Comment[es]=Configure los orígenes de las actualizaciones y el software instalable
Comment[et]=Paigaldatava tarkvara ja uuenduste allikate seadistamine
Comment[eu]=Konfiguratu software eta eguneraketa instalagarrien jatorriak
Comment[fa]=پیکر بندی کردن منابع برای برنامه ها و به روز رسانی های قابل نصب
Comment[fi]=Muokkaa asennettavien ohjelmien ja päivitysten lähteitä
Comment[fr]=Configurer les sources d'installation de logiciels et de mises à jour
Comment[fr_CA]=Configurer les sources d'installation de logiciels et de mises à jour
Comment[ga]=Cumraigh na foinsí chun teacht ar bhogearraí gur féidir suiteáil is nuashonrú
Comment[gd]=Rèitich na tùsan airson bathar-bog agus ùrachaidhean a ghabhas a stàladh
Comment[gl]=Configure as orixes para os programas e as actualizacións que se poden instalar
Comment[he]=הגדרת מקורות תוכנה להתקנות ולעדכונים
Comment[hr]=Postavite izvore za instalaciju i ažuriranje softvera
Comment[hu]=Telepíthető szoftverek és frissítések forrásának beállítása
Comment[id]=Mengatur sumber pemasangan perangkat lunak dan pemutakhiran
Comment[is]=Stilla upptök fyrir uppsetjanlegan hugbúnað og uppfærslur
Comment[it]=Configura le sorgenti per il software installabile e per gli aggiornamenti
Comment[ja]=インストール可能なソフトウェアおよびアップデートの配布元を設定します
Comment[ko]=설치가능한 소프트웨어와 업데이트를 위한 소스를 설정합니다
Comment[lt]=Nustatykite programinės įrangos diegimo ir atnaujinimo saugyklas
Comment[lv]=Konfigurē jaunu programmu un atjauninājumu avotus
Comment[mr]=सॉफ्टवेयर व सुधारणा (अपडेट्स) करिता स्रोत ठरवा
Comment[ms]=Konfigur sumber untuk perisian boleh pasang dan kemaskininya
Comment[nb]=Sett opp kildene for installerbar programvare og oppdateringer
Comment[nds]=Installationsquellen für Pakete und Updates bearbeiten
Comment[nl]=Stel de bronnen in voor installeerbare programma's en updates
Comment[oc]=Configurar las fonts d'installacion de logicials e de mesas a jorn
Comment[pa]=ਇੰਸਟਾਲ ਯੋਗ ਸਾਫਟਵੇਅਰ ਅਤੇ ਅੱਪਡੇਟ ਲਈ ਸਰੋਤਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
Comment[pl]=Konfiguruje zasoby pakietów oprogramowania i aktualizacji
Comment[pt]=Configurar repositórios de aplicações e atualizações
Comment[pt_BR]=Configurar as fontes para instalação e atualização de Software
Comment[pt_PT]=Configurar repositórios de aplicações e atualizações
Comment[ro]=Configurează sursele pentru software instalabil şi actualizări
Comment[ru]=Настроить источники установки и обновления программ
Comment[sk]=Nastaviť zdroje pre inštalovateľný softvér a aktualizácie
Comment[sl]=Nastavite vire za namestljivo programsko opremo in posodobitve
Comment[sq]=Konfiguro burimet për programet e instalueshme dhe përditësimet
Comment[sr]=Подесите изворе за програме и надоградње
Comment[sr@latin]=Подесите изворе за програме и надоградње
Comment[sv]=Konfigurera källorna för installerbara program och uppdateringar
Comment[ta]=நிறுவத்தக்க மென்பொருட்கள் மற்றும் புதுப்பித்தல்களுக்கான மூலங்களைக் கட்டமைக்கவும்
Comment[tg]=Танзим кардани манбаҳо барои нармафзор ва навсозиҳои насбшаванда
Comment[th]=ปรับแต่งแหล่งของซอฟต์แวร์ที่ใช้ในการติดตั้งและปรับปรุงรุ่น
Comment[tr]=Kurulabilir yazılım ve güncellemeler için kaynakları yapılandır
Comment[uk]=Налаштуйте джерела встановлюваного проґрамного забезпечення і оновлень
Comment[uz]=Тизимга ўрнатса ва янгиласа бўладиган дастур манбаларини созлаш
Comment[vi]=Cấu hình các nguồn cài đặt phần mềm và cập nhật
Comment[zh_CN]=配置用于安装和升级软件的源
Comment[zh_HK]=配置可安裝軟件與更新的來源
Comment[zh_TW]=設定可安裝軟體與更新的來源組態
GenericName=Configure the sources for installable software and updates
GenericName[am]=ምንጮችን ማዋቀር ለሚገጠሙ ሶፍትዌር እና ማሻሻያዎች
GenericName[ar]=إعداد المصادر للبرمجيات والتحديثات القابلة للتثبيت
GenericName[be]=Наставіць крыніцы праграм і абнаўленняў
GenericName[bg]=Настройка на източниците за инсталиране и актуализиране на софтуер
GenericName[bn]=ইনস্টলযোগ্য সফটওয়্যার ও আপডেটের জন্য উৎস কনফিগার করুন
GenericName[bs]=Podesite izvore za programe koje je moguće instalirati i ažurirati
GenericName[ca]=Configura les fonts per a les actualitzacions i el programari instal·lables
GenericName[ca@valencia]=Configura les fonts per a les actualitzacions i el programari instal·lables
GenericName[cs]=Nastavit zdroje pro instalovatelný software a aktualizace
GenericName[cy]=Ffurfweddu y ffynonellau ar gyfer meddalwedd gosodadwy a diweddariadau
GenericName[da]=Konfigurér kilderne for installérbare programmer og opdateringer
GenericName[de]=Quellen zum Installieren von Anwendungen und Aktualisierungen einrichten
GenericName[el]=Ρύθμιση των πηγών για λογισμικό προς εγκατάσταση και ενημερώσεις
GenericName[eo]=Agordi la fontojn de instaleblaj programaro kaj ĝisdatigoj
GenericName[es]=Configure los orígenes de las actualizaciones y el software instalable
GenericName[et]=Paigaldatava tarkvara ja uuenduste allikate seadistamine
GenericName[eu]=Konfiguratu software eta eguneraketa instalagarrien jatorriak
GenericName[fa]=پیکر بندی کردن منابع برای برنامه ها و به روز رسانی های قابل نصب
GenericName[fi]=Muokkaa asennettavien ohjelmien ja päivitysten lähteitä
GenericName[fr]=Configurer les sources d'installation de logiciels et de mises à jour
GenericName[fr_CA]=Configurer les sources d'installation de logiciels et de mises à jour
GenericName[ga]=Cumraigh na foinsí chun teacht ar bhogearraí gur féidir suiteáil is nuashonrú
GenericName[gd]=Rèitich na tùsan airson bathar-bog agus ùrachaidhean a ghabhas a stàladh
GenericName[gl]=Configure as orixes para os programas e as actualizacións que se poden instalar
GenericName[he]=הגדרת מקורות תוכנה להתקנות ולעדכונים
GenericName[hr]=Postavite izvore za instalaciju i ažuriranje softvera
GenericName[hu]=Telepíthető szoftverek és frissítések forrásának beállítása
GenericName[id]=Mengatur sumber pemasangan perangkat lunak dan pemutakhiran
GenericName[is]=Stilla upptök fyrir uppsetjanlegan hugbúnað og uppfærslur
GenericName[it]=Configura le sorgenti per il software installabile e per gli aggiornamenti
GenericName[ja]=インストール可能なソフトウェアおよびアップデートの配布元を設定します
GenericName[ko]=설치가능한 소프트웨어와 업데이트를 위한 소스를 설정합니다
GenericName[lt]=Nustatykite programinės įrangos diegimo ir atnaujinimo saugyklas
GenericName[lv]=Konfigurē jaunu programmu un atjauninājumu avotus
GenericName[mr]=सॉफ्टवेयर व सुधारणा (अपडेट्स) करिता स्रोत ठरवा
GenericName[ms]=Konfigur sumber untuk perisian boleh pasang dan kemaskininya
GenericName[nb]=Sett opp kildene for installerbar programvare og oppdateringer
GenericName[nds]=Installationsquellen für Pakete und Updates bearbeiten
GenericName[nl]=Stel de bronnen in voor installeerbare programma's en updates
GenericName[oc]=Configurar las fonts d'installacion de logicials e de mesas a jorn
GenericName[pa]=ਇੰਸਟਾਲ ਯੋਗ ਸਾਫਟਵੇਅਰ ਅਤੇ ਅੱਪਡੇਟ ਲਈ ਸਰੋਤਾਂ ਦੀ ਸੰਰਚਨਾ ਕਰੋ
GenericName[pl]=Konfiguruje zasoby pakietów oprogramowania i aktualizacji
GenericName[pt]=Configurar repositórios de aplicações e atualizações
GenericName[pt_BR]=Configurar as fontes para instalação e atualização de Software
GenericName[pt_PT]=Configurar repositórios de aplicações e atualizações
GenericName[ro]=Configurează sursele pentru software instalabil şi actualizări
GenericName[ru]=Настроить источники установки и обновления программ
GenericName[sk]=Nastaviť zdroje pre inštalovateľný softvér a aktualizácie
GenericName[sl]=Nastavite vire za namestljivo programsko opremo in posodobitve
GenericName[sq]=Konfiguro burimet për programet e instalueshme dhe përditësimet
GenericName[sr]=Подесите изворе за програме и надоградње
GenericName[sr@latin]=Подесите изворе за програме и надоградње
GenericName[sv]=Konfigurera källorna för installerbara program och uppdateringar
GenericName[ta]=நிறுவத்தக்க மென்பொருட்கள் மற்றும் புதுப்பித்தல்களுக்கான மூலங்களைக் கட்டமைக்கவும்
GenericName[tg]=Танзим кардани манбаҳо барои нармафзор ва навсозиҳои насбшаванда
GenericName[th]=ปรับแต่งแหล่งของซอฟต์แวร์ที่ใช้ในการติดตั้งและปรับปรุงรุ่น
GenericName[tr]=Kurulabilir yazılım ve güncellemeler için kaynakları yapılandır
GenericName[uk]=Налаштуйте джерела встановлюваного проґрамного забезпечення і оновлень
GenericName[uz]=Тизимга ўрнатса ва янгиласа бўладиган дастур манбаларини созлаш
GenericName[vi]=Cấu hình các nguồn cài đặt phần mềm và cập nhật
GenericName[zh_CN]=配置用于安装和升级软件的源
GenericName[zh_HK]=配置可安裝軟件與更新的來源
GenericName[zh_TW]=設定可安裝軟體與更新的來源組態
Exec=software-sources
Icon=/usr/share/icons/hicolor/scalable/apps/software-sources.svg
NoDisplay=true
Terminal=false
Type=Application
Encoding=UTF-8
MimeType=text/x-apt-sources-list;
Categories=Qt;KDE;Settings;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
