Source: mintsources
Section: admin
Priority: optional
Maintainer: Clement Lefebvre <root@linuxmint.com>
Build-Depends: debhelper (>= 9), python
Standards-Version: 3.9.5

Package: mintsources
Architecture: all
Essential: yes
Depends: python (>= 2.4),
         python (<< 3),
         python-apt,
         python-pycurl,
         python3,
         python3-xapp,
         gir1.2-gdkpixbuf-2.0,
         gir1.2-glib-2.0,
         gir1.2-gtk-3.0,
         gir1.2-pango-1.0,
         gir1.2-vte-2.91,
         dash,
         iso-flag-png,
         lsb-release,
         synaptic,
Replaces: software-properties-common (<< 1),
          software-properties-gtk (<< 1),
          software-properties-kde (<< 1),
          python-software-properties (<< 1),
          python3-software-properties (<< 1),
Description: Software Sources configuration tool
 Configure the sources for installable software and updates.

Package: software-properties-common
Architecture: all
Depends: mintsources
Description: Transitional package
 This package is obsolete and replaced with mintsources.

Package: software-properties-gtk
Architecture: all
Depends: mintsources
Description: Transitional package
 This package is obsolete and replaced with mintsources.

Package: software-properties-kde
Architecture: all
Depends: mintsources
Description: Transitional package
 This package is obsolete and replaced with mintsources.

Package: python-software-properties
Architecture: all
Depends: mintsources
Description: Transitional package
 This package is obsolete and replaced with mintsources.

Package: python3-software-properties
Architecture: all
Depends: mintsources
Description: Transitional package
 This package is obsolete and replaced with mintsources.
